Data set idea: weight loss

Variables:
- day - daily time series

- weight 
    - estimated by calories in / calories out based on 3500cal as 450g lost (https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/calories/art-20048065) so every 1 calorie = 0.128205128g
    - Weight loss will be calculated each day. (calories out - calories in) * 0.0128205128 +/- random noise as weight loss is not exact


- calories in based on logging food with LoseIt 
    - split by carbs/protein/fat? put into separate variables by percent?
    - Not going to split by c/p/f in dataset but will just state calorie count assuming she maintains good ratios 
    
    
- calories out - based on BMR/TDEE and exercise
- target calorie amount - same number throughout
- over/under calorie target
- exercise 
    - boolean?  True/False whether I exercised or not
    - categorical? Listing different exercises (walk, run, yoga class, weight training)
    - estimated calories burned?
 - calories out - tdee + exercise 
     - function created to calculate tdee as it fluctuates each day
     - maybe +/- random amount to exercise so it's not so samey
    
Run weekly - 52 weeks per year over 2 years = 104 rows
or 
Daily - January-April 2019 inclusive = 119 rows
Can't figure out which would be better

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Time" data-toc-modified-id="Time-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Time</a></span><ul class="toc-item"><li><span><a href="#Code" data-toc-modified-id="Code-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Code</a></span></li></ul></li><li><span><a href="#Calories" data-toc-modified-id="Calories-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Calories</a></span></li><li><span><a href="#Calories-In" data-toc-modified-id="Calories-In-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Calories In</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Exercise</a></span></li><li><span><a href="#Weight-Loss" data-toc-modified-id="Weight-Loss-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Weight Loss</a></span></li></ul></div>

This project simulates a dataset created by a woman - let's call her Zoe - who decided to track her weight loss efforts over the course of a calender year from 0/01/18 - 31/12/18. She set a daily average calorie allowance and committed to performing about 45 minutes of exercise approximately five days per week. She did a lot of research before beginning her journey to set herself up for success and was very fastidious in logging her calorie intake and estimated calorie output.

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

## Time

The first thing Zoe had to decide was how often to track her progress. She found that there is a lot of conflicting information online about how often one should weigh themselves when trying to lose weight. Some believe that weighing in too frequently can cause anxiety (https://health.clevelandclinic.org/why-you-shouldnt-weigh-yourself-every-single-day/) or discouragement (https://www.medicinenet.com/to_weigh__or_not_to_weighthat_is_the_question/views.htm) as weight fluctuations in the short-term can be quite unpredictable due to factors such as hydration or what was last eaten. However, some studies have shown that higher weighing frequency is associated with greater weight loss, (https://link.springer.com/article/10.1207/s15324796abm3003_5) less weight regain, (https://link.springer.com/article/10.1186/1479-5868-5-54) and is not associated with adverse psychological outcomes like anxiety (https://onlinelibrary.wiley.com/doi/full/10.1002/oby.20946). It really comes down to personal preference and what an individual feels works well for them. (https://blog.myfitnesspal.com/how-often-should-you-weigh-yourself/)

Zoe is interested in collecting as much data as possible to track her weight loss efforts and so decides to weigh herself first thing in the morning every day (https://www.consumerreports.org/scales/the-best-time-to-weigh-yourself/) as she finds the consistent feedback helps her to stay on track and keep herself accountable. 

### Code

In [22]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.weekday.html

start = '2018-01-01'
end = '2018-12-31'

date = pd.date_range(start, end, freq='D')

df = pd.DataFrame({'date': date})

# Change date format https://stackoverflow.com/a/38812486 but this returns an array of stings, not datetimes.
#df['Date'] = pd.to_datetime(df['Date'].dt.strftime('%d-%m-%Y'))

#day = date.dt.weekday 

#if (day < 5).bool() == True:
    
#print('x')

weekdays = pd.bdate_range(start, end)

#https://stackoverflow.com/a/19960116
weekends = ~date.isin(weekdays)

df = df.set_index('date')

df

len(weekdays)

261

## Calories 

Weight loss is very complex and depends on many factors such as: (https://www.niddk.nih.gov/health-information/weight-management/adult-overweight-obesity/factors-affecting-weight-health)

- Genetics
- Race
- Sex
- Age
- Diet
- Physical activity
- Environment
- Medical issues

Zoe is a 30 year old white Irish woman who lives in the suburbs and works at a sedentary office job. She has a moderately balanced diet but exercises very little and does not have any known medical issues that would hinder weight loss. She believes that she can begin to lose weight by making some slight lifestyle adjustments rather than any drastic changes. In particular she plans to lower her calorie intake and add in a bit of exercise. 

The first thing she did was calculate how many calories she should consume per day in order to steadily lose weight. Two measurements were important here, her Basal Metabolic Rate (BMR) and Total Daily Energy Expenditure (TDEE). The BMR is the energy expenditure over a certain period of time by a person at rest (https://en.wikipedia.org/wiki/Basal_metabolic_rate). In other words, it is the number of calories burned by the body just by functioning normally without moving, such as breathing and circulating blood. It can be estimated based on a person's gender age, weight and height. The TDEE then is the number of calories a person should consume to maintain their current weight. There are many online calculators that help a person figure out their BMR - I have used a few different ones here see if different measurements are achieved:

Measurements used: Female, 30 years old, starting weight 80k,  height 175cm:

BMR
- 1578: https://tdeecalculator.net/  
- 1591: https://www.active.com/fitness/calculators/bmr 
- 1598: https://www.bodybuilding.com/fun/bmr_calculator.htm 
- 1578: https://www.calculator.net/bmr-calculator.html# 
- 1578: https://www.thecalculatorsite.com/health/bmr-calculator.php  (Mifflin St Jeor)
- 1600: https://www.thecalculatorsite.com/health/bmr-calculator.php (Harris Benedict)

TDEE: 
- https://tdeecalculator.net/ TDEE: 1894

https://www.thecalculatorsite.com/health/bmr-calculator.php - has good explanation of equations


Of course, not all calories are created equal. She could eat 1500 calories worth of junk food and still lose weight but this, of course would not be healthy. She aims each day to split her calorie allowance as follows: (https://www.healthline.com/nutrition/best-macronutrient-ratio#calorie-vs-calorie)

    - 45-65% carbohydrates
    - 20-35% fats
    - 10-35% proteins 
    
In this dataset the focus is on calories in and out but our subject is generally quite good at sticking to the above ratios.

For exercise, look into how different exercises affect weight loss - a combination of cardio, strength training and flexibility training: https://www.verywellfit.com/types-of-exercise-for-weight-loss-3495992

With calories I might split by protein, ft and carbs -

## Calories In

To track her calorie intake, Zoe used the LoseIt app (https://www.loseit.com/) which allows her to log everything she eats and provides her with a calorie total at the end of every day that she then logs into her dataset. 

It is not healthy to go below 1200 calories daily as it would be difficult to get the nutrition the body needs (https://www.everydayhealth.com/weight/can-more-calories-equal-more-weight-loss.aspx

Zoe aims to lose the weight slowly and in a sustainable manner and so follows the guidance of 0.5kg per week (https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/weight-loss/art-20047752) This means

The randint function allows me to set minimum and maximum calorie values and was my first thought when trying to come up with a suitable function. As can be seen below, it returns 365 integer values that could potentially be used as calorie measurements.

In [ ]:
# Using randint for calorie in values
first = np.random.randint(1200, 2500, 365)
first

However, the distribution for this function is uniform so Zoe is as likely to consume 2000 calories as she is to consume 1000 calories. Her daily calorie goal is the 1500 mark and so most values should ideally be centred around this figure. A normal distribution may work better.

In [ ]:
sns.distplot(first)

Again there is an issue as just using a regular normal distribution can return some values that are unrealistically below the minimum threshold of 1200 calories. Setting the mean to 1500 and

In [ ]:
second = np.random.normal(1500, 200, 365)
second

The solution below used a truncated normal distribution which allows a range to be set and the data is normally distributed. I have also converted the results to integers as Zoe would realistically be tracking decimals of a calorie.

In [29]:
# https://stackoverflow.com/a/18444710 
# https://stackoverflow.com/a/53948014




def calories_in():
    low = 1200
    high = 2500
    mu = 1500
    sigma = 250
    x = stats.truncnorm((low - mu) / sigma, (high - mu) / sigma, loc=mu, scale=sigma)
    cal_in = x.rvs(365).astype(int)
    return cal_in

    
    # https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.truncnorm.html
    # https://stackoverflow.com/a/37411711
    


#calories_in()
#
df['calories_in'] = calories_in()

pd.options.display.max_rows = 365
df

            calories_in
date
2018-01-01         1588
2018-01-02         1473
2018-01-03         1474
2018-01-04         1331
2018-01-05         2313
2018-01-06         1362
2018-01-07         1603
2018-01-08         1599
2018-01-09         1654
2018-01-10         1813
2018-01-11         1563
2018-01-12         1529
2018-01-13         1502
2018-01-14         1257
2018-01-15         1700
2018-01-16         1568
2018-01-17         1753
2018-01-18         1826
2018-01-19         1600
2018-01-20         1559
2018-01-21         1525
2018-01-22         1571
2018-01-23         1426
2018-01-24         1569
2018-01-25         1913
2018-01-26         1246
2018-01-27         1621
2018-01-28         1812
2018-01-29         1722
2018-01-30         1402
2018-01-31         1501
2018-02-01         1532
2018-02-02         1487
2018-02-03         2052
2018-02-04         1759
2018-02-05         1520
2018-02-06         1463
2018-02-07         1547
2018-02-08         1465
2018-02-09         1526
2018-02-10         1239
2018-02-11         1425
2018-02-12         1650
2018-02-13         1230
2018-02-14         1268
2018-02-15         1384
2018-02-16         1928
2018-02-17         1855
2018-02-18         1588
2018-02-19         1733
2018-02-20         1479
2018-02-21         1723
2018-02-22         1379
2018-02-23         1420
2018-02-24         1293
2018-02-25         1634
2018-02-26         1371
2018-02-27         1345
2018-02-28         1910
2018-03-01         1698
2018-03-02         1580
2018-03-03         1600
2018-03-04         1726
2018-03-05         1264
2018-03-06         2113
2018-03-07         1513
2018-03-08         1365
2018-03-09         1218
2018-03-10         1749
2018-03-11         1562
2018-03-12         1365
2018-03-13         1801
2018-03-14         1463
2018-03-15         1534
2018-03-16         1231
2018-03-17         1719
2018-03-18         1370
2018-03-19         1459
2018-03-20         1627
2018-03-21         1825
2018-03-22         1454
2018-03-23         1316
2018-03-24         1456
2018-03-25         1200
2018-03-26         1667
2018-03-27         1599
2018-03-28         1543
2018-03-29         1436
2018-03-30         1683
2018-03-31         1401
2018-04-01         1559
2018-04-02         1226
2018-04-03         1344
2018-04-04         1326
2018-04-05         1347
2018-04-06         1290
2018-04-07         1402
2018-04-08         1312
2018-04-09         1505
2018-04-10         1405
2018-04-11         1725
2018-04-12         1673
2018-04-13         1868
2018-04-14         1647
2018-04-15         1343
2018-04-16         1520
2018-04-17         1962
2018-04-18         1584
2018-04-19         1693
2018-04-20         1528
2018-04-21         1580
2018-04-22         1554
2018-04-23         1453
2018-04-24         1571
2018-04-25         1536
2018-04-26         1557
2018-04-27         1736
2018-04-28         1810
2018-04-29         1543
2018-04-30         1207
2018-05-01         1657
2018-05-02         1307
2018-05-03         1246
2018-05-04         1719
2018-05-05         1942
2018-05-06         1347
2018-05-07         1864
2018-05-08         1571
2018-05-09         1507
2018-05-10         1540
2018-05-11         1919
2018-05-12         1492
2018-05-13         1542
2018-05-14         1740
2018-05-15         1535
2018-05-16         1652
2018-05-17         2110
2018-05-18         1518
2018-05-19         1593
2018-05-20         1249
2018-05-21         1621
2018-05-22         2126
2018-05-23         1617
2018-05-24         1492
2018-05-25         1574
2018-05-26         1206
2018-05-27         1346
2018-05-28         1710
2018-05-29         1691
2018-05-30         1479
2018-05-31         1408
2018-06-01         1842
2018-06-02         1383
2018-06-03         1552
2018-06-04         1488
2018-06-05         1825
2018-06-06         1490
2018-06-07         1314
2018-06-08         1558
2018-06-09         1713
2018-06-10         1502
2018-06-11         1575
2018-06-12         1507
2018-06-13         1412
2018-06-14         1240
2018-06-15         1562
2018-06-16         1703
2018-06-17         1729
2018-06-18         1408
2018-06-19         1503
2018-06-20         1262
2018-06-21         1608
2018-06-22         1238
2018-06-23         1544
2018-06-24         1284
2018-06-25         1444
2018-06-26         1459
2018-06-27         1461
2018-06-28         1383
2018-06-29         1359
2018-06-30         1432
2018-07-01         1712
2018-07-02         1472
2018-07-03         1511
2018-07-04         1589
2018-07-05         2241
2018-07-06         2053
2018-07-07         1688
2018-07-08         1201
2018-07-09         1516
2018-07-10         1618
2018-07-11         1558
2018-07-12         1563
2018-07-13         1648
2018-07-14         1646
2018-07-15         1548
2018-07-16         1522
2018-07-17         1487
2018-07-18         1350
2018-07-19         1806
2018-07-20         1202
2018-07-21         1591
2018-07-22         1609
2018-07-23         1719
2018-07-24         1468
2018-07-25         1371
2018-07-26         1499
2018-07-27         1388
2018-07-28         1456
2018-07-29         1395
2018-07-30         1358
2018-07-31         1558
2018-08-01         1212
2018-08-02         1389
2018-08-03         1724
2018-08-04         1602
2018-08-05         1695
2018-08-06         1722
2018-08-07         1812
2018-08-08         1558
2018-08-09         1749
2018-08-10         1890
2018-08-11         1813
2018-08-12         1457
2018-08-13         1453
2018-08-14         1350
2018-08-15         1440
2018-08-16         1495
2018-08-17         1438
2018-08-18         1541
2018-08-19         1410
2018-08-20         1570
2018-08-21         1769
2018-08-22         1691
2018-08-23         1689
2018-08-24         1380
2018-08-25         1947
2018-08-26         1738
2018-08-27         1583
2018-08-28         1804
2018-08-29         1343
2018-08-30         1485
2018-08-31         1261
2018-09-01         1373
2018-09-02         1920
2018-09-03         1409
2018-09-04         1556
2018-09-05         1742
2018-09-06         1320
2018-09-07         1456
2018-09-08         1439
2018-09-09         1759
2018-09-10         1429
2018-09-11         1615
2018-09-12         1325
2018-09-13         1222
2018-09-14         1445
2018-09-15         1608
2018-09-16         1847
2018-09-17         1527
2018-09-18         1320
2018-09-19         1717
2018-09-20         1216
2018-09-21         1393
2018-09-22         1741
2018-09-23         1493
2018-09-24         1554
2018-09-25         1703
2018-09-26         1776
2018-09-27         1477
2018-09-28         1374
2018-09-29         1741
2018-09-30         1455
2018-10-01         1456
2018-10-02         1227
2018-10-03         1222
2018-10-04         1800
2018-10-05         1558
2018-10-06         1499
2018-10-07         1668
2018-10-08         1567
2018-10-09         1531
2018-10-10         1519
2018-10-11         1506
2018-10-12         1985
2018-10-13         1469
2018-10-14         1838
2018-10-15         1786
2018-10-16         1795
2018-10-17         2114
2018-10-18         1725
2018-10-19         1628
2018-10-20         1271
2018-10-21         1812
2018-10-22         1584
2018-10-23         1989
2018-10-24         1861
2018-10-25         1596
2018-10-26         1306
2018-10-27         1524
2018-10-28         1399
2018-10-29         1712
2018-10-30         1425
2018-10-31         1343
2018-11-01         1724
2018-11-02         1793
2018-11-03         1816
2018-11-04         1279
2018-11-05         1472
2018-11-06         1438
2018-11-07         1414
2018-11-08         1380
2018-11-09         1700
2018-11-10         1883
2018-11-11         1500
2018-11-12         1211
2018-11-13         1506
2018-11-14         1261
2018-11-15         1274
2018-11-16         1652
2018-11-17         1293
2018-11-18         1273
2018-11-19         1523
2018-11-20         1381
2018-11-21         1743
2018-11-22         1649
2018-11-23         1452
2018-11-24         1415
2018-11-25         1478
2018-11-26         1514
2018-11-27         1651
2018-11-28         1689
2018-11-29         1921
2018-11-30         1561
2018-12-01         1764
2018-12-02         2099
2018-12-03         1280
2018-12-04         1291
2018-12-05         1508
2018-12-06         1379
2018-12-07         1556
2018-12-08         1552
2018-12-09         1943
2018-12-10         1375
2018-12-11         1458
2018-12-12         1814
2018-12-13         1323
2018-12-14         1808
2018-12-15         1603
2018-12-16         1536
2018-12-17         1666
2018-12-18         1449
2018-12-19         1568
2018-12-20         2078
2018-12-21         1632
2018-12-22         1370
2018-12-23         1849
2018-12-24         1636
2018-12-25         1713
2018-12-26         1515
2018-12-27         1420
2018-12-28         1639
2018-12-29         1672
2018-12-30         1264
2018-12-31         1682

## Exercise

This makes a case for doing a daily dataset - can't figure out how to do this weekly

Either use randint or random choice

With randint - assign exercises to different integers

None = 1
Walk = 2
Jog = 3
Yoga = 4

With random choice the options are (None, Walk, Jog, Yoga)

Use choice as you can set probability for each option.

Jan-Apr = 119 days = 17 weeks

Say I do some form of exercise about 5 days per week: None = 2 * 17 = 34 days of no exercise = ~28% (make it 29 for 100% probability altogether)

I walk 3 days per week: Walk = 3 * 104 = 51 walks = ~43%

I jog 1 day per week = 17 jogs = ~14%

I have a yoga class about 1 day per week = 17 yoga classes = ~14%


OR!

I could still do the weekly thing if I change the size so it gives an array!


Exercise not the most important thing for weight loss: https://www.vox.com/2016/4/28/11518804/weight-loss-exercise-myth-burn-calories

Exercise and calories burned: https://www.sciencealert.com/how-to-calculate-calories-burned-met-value-exercise?perpetual=yes&limitstart=1

In [ ]:
excercises = ["none", "walk", "jog", "yoga"]

np.random.choice(excercises, size = (119, 7), p=[0.29, 0.43, 0.14, 0.14])

Since BMR and TDEE are both going to change as weight fluctuates, I have created the function below to recalculate them each day as part of the calories burned. I have used the Mifflin-St Jeor calculation as it is widely used and deemed to be quite accurate

In [ ]:
# TDEE function
# only weight will change in this calculation

def tdee(weight):
    bmr = 10 * weight + 6.25 * 175 - 5 * 30 -161
    result = bmr * 1.2
    return result

tdee(80)

Below is a function that tracks the estimated calories burned by exercising. Our subject exercises most days per week and averages at about 45 minutes per session, sometimes more, sometimes less. She uses her fitbit to calculate the amount of calories burned for each exercise session and logs that into her spreadsheet.

In [ ]:
# https://stackoverflow.com/questions/26886653/pandas-create-new-column-based-on-values-from-other-columns-apply-a-function-o

def exercise(activity):
    if activity == 'yoga':
        return np.random.normal(150, 50)
    elif activity == 'walking':
        return np.random.normal(250, 50)
    elif activity == 'jogging':
        return np.random.normal(300, 50)
    else:
        return 0
    
exercise('jogging')

Study about outdated 3500cal = 1lb idea: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4035446/

In [ ]:
def cal_to_gram(calories):
    gram = calories * 0.12858
    return gram
cal_to_gram(3500)

## Weight Loss

Could I do some kind of probability distribution that makes total weight go up/down?

Or have one column with weight lost daily/weekly and then add/subtrct that to total weight in another column?

Weight lost every week: Say I lose an average of 0.5kg per week with a standard deviation of 0.25 and over a normal distribution.

Or with daily say it's 0.1kg per day average with a sd of 0.05g

No! I should base the weight loss on the other variables - exercise and calories - with a random amount added or subtracted as weight loss is not exact (is this noise?)


To account for daily fluctuations, weight loss or gain will not only depend on calories in/out but will also include a random variant.